doctype html

html(lang="en")

  head
  
    include ./partials/head.jade
    block head
    title= pageTitle

  body
    include ./partials/header.jade
    .wrapper
      include ./partials/nav.jade
      .content
        block content
    include ./partials/footer.jade

  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  block scripts
