doctype html

html(lang="en")

  head
  
    include ./partials/head.jade
    title= pageTitle

  body
    include ./partials/header.jade
    include ./partials/nav.jade
    
    .content
      block content
    
    include ./partials/footer.jade

  block scripts
