doctype html

html(lang="en")

  head
  
    include ./partials/head.jade
    block head
    title= pageTitle

  body
    include ./partials/header.jade
    include ./partials/nav.jade
    
    .content
      block content
    
    include ./partials/footer.jade

  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS' crossorigin='anonymous')
  block scripts
