extends ../../views/layout

block scripts
  script(src='/js/today.js')
  
block content  

  #calendar-container
    h2.calendar-title Progress calendar
    | !{progCalHTML}

  .todaylist-container
    h2.todaylist-title Today’s checklist
    include ./todaylist
  div#errorBox.error-box
    span.error-box-inner
      header Error
      span#errorMessage.error-message No! I won't do it!
