extends ../../views/layout

block scripts
  script(src='/js/today.js')
  
block content  

  h2 Route: /today

  .todaylist-container
    include ./todaylist
  div#errorBox.error-box
    span.error-box-inner
      header Error
      span#errorMessage.error-message No! I won't do it!
