extends ../../views/layout

block scripts
  script(src='/js/habits.js')
  
block content  

  .habitlist-container
    include ./habitlist.jade
  .form-container.newhabitform-container
    include ./newhabitform.jade
