.error-box {
  margin: 1em 0;
  display: none;
}

.error-box-inner {
  display: inline-block;
  background: $error-box-lightcolor;
  border-left: 0.5em solid $error-box-darkcolor;
  font-size: 0.9rem;
  padding: 1em;
  header {
    font-weight: $bold;
    color: $error-box-darkcolor;
  }
}

.error-message {

}