block link
  -var selected = 'index';

-var menu = {'index': '/', 'today': '/today', 'habits': '/habits', 'doings': '/doings', 'db': '/db'};

ul(class='nav')
  each val, key in menu
    li
      if selected === key
        a.selected(href=val, title=key)= key
      else
        a(href=val, title=key)= key
  //- li
  //-   a(href='/today') Today
  //- li
  //-   a(href='/habits') Habits
  //- li
  //-   a(href='/doings') Doings
  //- li
  //-   a(href='/db') DB
